.footer-section{
    width: 100%;
    height: 45px;
    background-color: var(--primary-dark);
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.footer-section p{
    font-size: 13px;
    padding-top: 3px;
    color: var(--text-color-light);
}

.footer-section p span{
    color: var(--white);
}