.nav-login-signup-section button{
    width: 90px;
    height: 30px;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 3px 10px;
    border: none;
    background-color: var(--secondary);
    color: var(--primary-dark);
    transition: 0.1s;
}

.nav-login-signup-section button:hover{
    background-color: var(--primary-dark);
    border: 2px solid var(--secondary);
    color: var(--secondary);
    cursor: pointer;
}